html {
    font-size: 10px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    margin: 0;

    font-size: 1.5rem;
    font-family: "Courier New", sans-serif;
    background-color: #d4d4d4;
}

.container {
    width: 100%;
    height: 550px;

    margin: 0 auto;
    padding: 3rem 2.5rem;

    background-image: url("notebook-cell.jpg");
}


.login-form {
    width: 400px;

    margin-right: auto;
    margin-left: auto;
    padding: 2rem;

    border: 1px solid black;
    border-radius: 1em;
    background-color: white;
}

.form-title {
    margin-bottom: 2rem;


    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
}

.login-nickname,
.login-submit {
    display: block;
}

.login-nickname {
    position: relative;
    width: 100%;
    height: 35px;

    margin-bottom: 2rem;
    padding: 0.5rem 1rem;

    font-size: 1.5rem;
    font-family: inherit;
}

.login-nickname:before {
    content: "Такой пользователь уже существует";

    position: absolute;
    bottom: -10px;
    left: 5px;

    color: red;
}

.login-submit {
    width: 250px;
    height: 40px;

    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;

    border: 1px solid black;
    border-radius: 1rem;
    background-color: white;

    font-family: inherit;
    font-size: 1.8rem;

    transition: background-color 500ms linear;
}

.login-submit:focus,
.login-submit:hover {
    background-color: #46ff00;
}
